#contact_modal {
    display: none;
}

#lightbox_modal {
    display: none;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 52px 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.photograph-header h1 {
    color: #D3573C;
}
.photograph-header h2 {
    color: #901C1C;
    margin: 16px 0;
}

.photograph-header p {
    color: #525252;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
#contact_modal {
    z-index: 999;
    position: fixed;
    background-color: rgba(84, 84, 84, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 35px;
    width: 670px;
    height: 900px;
    transform: translate(-50%, -50%);
    margin-top: 50vh;
    margin-left: 50%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2, h3 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    display: inline;
}

.modal h3 {
    width: 100%;
    text-align: left;
}

.modal #text {
    height: 170px;
    margin-bottom: 26px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}


form input, textarea {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    resize: none;
}

#list_image {
    margin: 0 100px;
}
#list_image header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px 0 0;
}

#list_image label {
    margin-right: 12px;
}

#list_image button {
    width: 170px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    box-shadow: none;
    position: relative;
}

#list_image button .fa-angle-down {
    color: #fff;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 70%;
    transform: translateY(-50%);
    right: 20px;
    transition: transform 500ms ease;
}

#list_image button ul {
    left: 0;
    position: absolute;
    top: -50%;
    background-color: #901C1C;
    color: #FFFFFF;
    width: 170px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    box-shadow: none;
    text-align: start;
}

#list_image button ul li {
    padding: 4px 0;
    border: none;
}

#list_image button ul li:nth-child(1) {
    width: 70%;
    border: none;
}

#list_image button .fa-angle-down.rotate-active {
    transform: rotate(180deg) translateY(50%);
}

#list_image button li.hidden {
    display: none;
}

#list_image button.activeButton {
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

#grid_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px 30px;
    width: 100%;
    justify-content: space-between;
}
.card img {
    border-radius: 5px;
    object-fit: cover;
    height: 25vw;
    width: 100%;
    cursor: pointer;
}

.card video {
    border-radius: 5px;
    object-fit: cover;
    height: 25vw;
    width: 100%;
    display: block;
    cursor: pointer;
}
.card h3 {
    font-size: 24px;
    line-height: 32px;
    color: #901C1C;
    text-align: left;
    cursor: pointer;
}
.card .icon_love {
    height: 18px;
    width: 18px;
    color: #901C1C;
    font-size: 18px;
    cursor: pointer;
}

.card .icon_love.activeLove {
    height: 18px;
    width: 18px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 900;
    color: transparent;
    background: #901C1C;
    -webkit-background-clip: text;
    animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.card span {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;
}

.flex div {
    display: flex;
    align-items: center;
}

.flex div span {
    color: #901C1C;
    font-size: 24px;
    line-height: 32px;
    font-family: 'DM Sans', sans-serif;
    margin: 0 6px;
}

#footer {
    width: 380px;
    height: auto;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 36px;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-radius: 5px 5px 0 0;
}

#footer div {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
}

#footer div h4:nth-child(1) {
    display: flex;
    align-items: center;
}

#footer div i {
    margin-left: 6px;
}


#lightbox_modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    background-color: white;
}

#lightbox_modal.activeLightbox {
    display: block;
    z-index: 999;
}

.lightbox {
    height: 90vw;
    width: 90vw;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
}

.lightbox img {
    width: 60vw;
    height: 90vh;
    object-fit: cover;
    margin: 0 auto;
}

.lightbox video {
    width: 60vw;
    height: 90vh;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

#lightbox_modal h5 {
    font-size: 24px;
    line-height: 32px;
    color: #901C1C;
    width: 60vw;
    margin: 0 auto;
}

#lightbox_modal .icon_lightbox {
    height: 48px;
    width: auto;
    color: #901C1C;
    font-size: 48px;
    cursor: pointer;
}
.lightbox .fa-angle-left {
    position: absolute;
    top: calc(50vh - 48px);
    transform: translateY(-50%);
    left: 20px;
}

.lightbox .fa-angle-right {
    position: absolute;
    top: calc(50vh - 48px);
    transform: translateY(-50%);
    right: 20px;
}

.lightbox .fa-times {
    position: absolute;
    top: 0;
    left: calc(100% - 48px);
}
